 * {
        margin: 0;
        padding: 0;
        border: 0;
    }
    body{
        width: 100%;
        height: 100%;
        background: rgb(228,228,228);
    }
    .header{
        background: rgb(39,39,39);
        height: 40px;
        line-height: 40px;
        color: white;
    }
    .header p {
        margin-left: 20px;
    }
    .content {
        margin: 20px;
        overflow: hidden;
    }
    .nav {
        float: left;
    }
    .nav li {
        border-radius: 5px;
        border: 1px gray;
        height: 30px;
        line-height: 30px;
        margin: 10px;
        box-shadow: 0px 0px 2px #888888;
    }
    .nav li a {
        color: black;
        margin: 10px;
        font-size: 60%;
        text-decoration: none;
    }
    .nav li.current{
        background: rgb(61,66,75);
    }

    .nav li.current a{
        color: azure;
        background: rgb(61,66,75);
    }

    .container{
        overflow: hidden;
        margin: 10px;
        
    }
    .title {
        background: rgb(61,66,75);
        height: 40px;
        color: azure;
        line-height: 40px;
        border-radius: 5px;
        padding-left: 20px;
        border: 1px gray;
        box-shadow: 0px 0px 2px #888888;
    }
    .show {
        border: 10px gray;
        margin: 1px; 
        box-shadow: 0px 0px 2px #888888;
    }
    .chart-type {
        margin-top: 30px;
        height: 30px;
        line-height: 30px;
        border-bottom: 1px gray;
        padding-left: 20px;
        box-shadow: 0px 0px 2px #888888;
    }
    #main {
        background: white;
        width:900px;
        height:400px;
        padding: 20px;
    }